// http://thesassway.com/beginner/how-to-structure-a-sass-project
@import 'partials/reset';
@import 'modules/all';
// @import 'partials/breakpoints-display';

html { font-size: 16px; }

body {
    background: $light-gray;
    padding: 1rem 1rem 8rem;
    // https://css-tricks.com/snippets/css/system-font-stack/
    font-family: 'Roboto', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f45d48' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
    position: fixed;
    top: 5px;
    height: 98%;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: #f8f5f2;
    padding: 30px;
    -webkit-box-shadow: 6px 7px 19px -11px rgba(0,0,0,1);
    -moz-box-shadow: 6px 7px 19px -11px rgba(0,0,0,1);
    box-shadow: 6px 7px 19px -11px rgba(0,0,0,1);
}

@media (max-width: 1070px) {
    .left-container {
        position: static;
    }
}

@media (max-width: 850px) {
    .left-container {
        width: 100%;
        transition: all 0.3s ease;
    }
}

.right-container {
    width: calc(60% - 5em);
    float: right;
    transition: all 0.3s ease;
}

@media (max-width: 850px) {
    .right-container {
        width: 100%;
        transition: all 0.3s ease;
    }
}

a {
    &:active {
        position: relative;
        top: 1px;
    }

    &:hover {
        color: $dark-gray;
        background: $light-gray;
    }
}

main > * { margin-top: 3rem; }

section header {
    h1 {
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &.small h1 {
        font-size: 0.8rem;
        color: $green;
    }
}

h2 {
    font-size: 1.1rem;
    font-weight: normal;
}

span, small, dt {
    color: $green;
}

p,
dd { line-height: 1.4rem; }

dt {
    border-top: 2px solid $green;
    border-left: 2px solid $green;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;

    &:first-of-type { margin-top: 0; }

    small { white-space: nowrap; }

    &:hover {
        border: 2px solid $green;
        border-radius: 5px;
        transition: all ease 0.3s;
    }
}

dd {
    margin: 1rem 0 0;
    padding: 0 1rem;
}

.contact ul,
.skills ul { @include horizontal-list; }

hr {
    margin: 4rem 0;
    border: 0;
    border-top: 0.25rem solid $light-gray;
}

address {
    font-size: 14px;
}

ul {
    font-size: 14px;
}

// Left container
.name{
    font-size: 16px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 18px;
    color: $red;
}

nav {
    line-height: 2em;
    display: flex;
    flex-direction: column;

    li {
        list-style-type: none;
        align-content: flex-end;

        a {
            text-decoration: none;
            color: $dark-gray;

            &:hover {
                color: $green;
                font-weight: bold;
            }
        }
    }
}

.title {
    font-weight: bold;
    line-height: 1.5em;

    span {
        font-weight: 300;
    }
}

.summary {
    color: $dark-gray;
    font-weight: bold;
    display: block;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7em;
    }
}

.company {
    font-size: 14px;
}

.descriptif {
    font-size: 14px;
}

.field-competence {
    display: flex;
    flex-direction: column;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;  
    width: 250px;
    height: 20px;

    &::-webkit-progress-value {
        background-color: $green;
    }
    
    &::-webkit-progress-bar {
        background-color: $light-gray;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}

@media (max-width: 620px) {
    .skill-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}